body{
    background-color:darkblue;
}

header{
   text-align: center;
   font-size: 20px;
   color:white;
   

}

nav{
    justify-content: space-between;
    padding-left:25px;
    padding-right:9px;
    width: 100%;
    position: fixed;
    display: flex;
    background-color: darkblue;
}

nav .logo{
    color :white;
    float:left;
    padding-left:45px;
}

nav ul {
    display : flex;
    list-style: none;
    padding-right:75px;
   
}

nav ul li {
    margin-left:20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li:hover a{
     color :blue;
}



.Home_{
    padding-top:70px;
    width: 80%;
    height:70vh;
    align-items: center;
    padding-left: 65px;
    color : blue;
    margin-top: 89px;
    margin-left: 95px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    
}

.Home_ img{
    float: right;
    width:30%;
    margin-bottom: 20px;
    border-radius: 15px;
    margin-top:-20px;
    margin-right:20px;
    borde-width: 2px;
    border-style: solid;
    border-color:blue;
    display:block;
   
}
.Home p{
   
}

.About_{
    padding-left: 65px;
    color : blue;
    width: 80%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
    align-items: center;
    background-color: white;
    margin-left: 95px;
    border-style: solid;
    border-width: 2px;
    
}

.Contact_{
    padding-left: 65px;
    color : blue;
    width: 80%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
    align-items: center;
    background-color: white;
    margin-left: 95px;
    border-style: solid;
    border-width: 2px;
    

}


.Contact_  .Contact1_info .call_1{
    color:blue;
    float:left;
    font-size: 30px;
    margin-right:10px;
}

.Contact_ .Contact2_info .call_2{
    color:blue;
    float:left;
    font-size: 30px;
    margin-right:10px;
}

.Contact_ .Contact3_info .call_3{
    color:blue;
    float:left;
    font-size: 30px;
    margin-right:10px;
}

p{
    font-family: sans-serif;
    font-size: 24px;
    overflow: hidden;
}

footer{
    color:blue;
    background-color: white;
    margin-left: 95px;
    margin-top: 20px;;
    width: 85%;
    font-size: 24px ;
}